body {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

*{
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input {
    background-color: transparent;
    width: 100%;
  }
  
  input:where(:not([type])),
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select,
  button {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
    color: inherit;
  }
  
  input:focus-visible,
  [multiple]:focus-visible,
  textarea:focus-visible,
  select:focus-visible {
    outline: none;
  }

  .flex-col-center-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .contact-us {
    background-color: #ffffff;
    width: 100%;
  }
  
  .columnmapsiclem {
    gap: 110px;
    display: flex;
    flex-direction: column;
  
    @media only screen and (max-width: 1050px) {
      gap: 82px;
    }
  
    @media only screen and (max-width: 550px) {
      gap: 55px;
    }
    
     /* width: 1440px;
     height: 66px ;
     padding-right: 135px;
     padding-left: 135px; */
  }
  
  .image {
    height: 76px;
    width: 157px;
    margin-left: 165px;
    margin-top: 20px;
    margin-bottom: 70px;
  
    @media only screen and (max-width: 1050px) {
      height: auto;
    }
  }
  
  .row_two {
    display: flex;
    justify-content: center;
  }
  
  .contact-us-1 {
    display: flex;
    justify-content: center;
  
    @media only screen and (max-width: 1050px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .contact-us_query-section {
    background-color: #ffffff;
    box-shadow: 0 0 30px 0 #00000019;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px 56px;
    border-radius: 20px;
  
    @media only screen and (max-width: 1050px) {
      padding: 20px;
      flex-direction: column;
    }
  }
  
  .query-section_column--text {
    gap: 16px;
  }
  
  .query-section_heading {
    color: #505050 !important;
    letter-spacing: 0.35px;
  }
  
  .query-section_subheading {
    color: #505050 !important;
  }
  
  .query-section_column--form {
    gap: 44px;
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
  
    @media only screen and (max-width: 1050px) {
      align-self: stretch;
    }
  }
  
  .form-column_row--message {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
    }
  

  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}
  
  .form-column_textarea--message {
    color: #505050;
    font-size: 12px;
    width: 48%;
    height: 106px;
    padding: 10px;
    border-bottom: 1px solid #5050507f !important;
  }
  
  .form-column_button--submit {
    color: #ffffff !important;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #00adee !important;
    height: 50px;
    border-radius: 24px !important;
  }
  
  .right-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 1px;
  }
  
  .arrow-3 {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 8px;
    width: 20px;
    object-fit: contain;
  }
  
  .stackmapsiclema {
    height: 638px;
    position: relative;
    align-content: center;
  
    @media only screen and (max-width: 1050px) {
      height: auto;
    }
  }

  .mapsiclemap_one {
    height: 600px;
    width: 100%;
    margin-top:10px;
    margin-bottom: 70px;
    /* flex: 1; */
    border-width: 0px;
  }
  
  .contact-info {
    gap: 24px;
    background: linear-gradient(180deg, #103977, #171352);
    box-shadow: 0 0 30px 0 #00000019;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 9%;
    bottom: 0px;
    top: 0px;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    padding: 50px;
    border-radius: 10px;
  
    @media only screen and (max-width: 1050px) {
      padding: 20px;
    }
  }
  
  .contact-info_title {
    letter-spacing: 0.54px;
  }
  
  .contact-info_address {
    text-transform: capitalize;
    width: 100%;
    line-height: 26px;
  }
  
  .contact-info_phone {
    text-transform: capitalize;
  }
  
  .contact-info_settings-row {
    gap: 11px;
    align-self: stretch;
    display: flex;
    align-items: center;
  }
  
  .contact-info_settings-icon {
    height: 34px;
  }

  .contact-info_map-link {
    text-transform: capitalize;
    align-self: flex-end;
  }
  
  .column_one {
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media only screen and (max-width: 1050px) {
      gap: 60px;
    }
  
    @media only screen and (max-width: 550px) {
      gap: 40px;
    }
  }
  
  .column_list {
    gap: 30px;
    display: flex;
  
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
    }
  }
  
  .row_four {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(to right, #171352, #042167);
    align-self: stretch;
    display: flex;
    justify-content: center;
    height: 300px;
  
    @media only screen and (max-width: 550px) {
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
  
  .contact-us_section {
    margin-top: 40px;
    display: flex;
    justify-content: right;
  
    @media only screen and (max-width: 1050px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .contact-us_column {
    gap: 52px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
    @media only screen and (max-width: 550px) {
      gap: 26px;
    }
  }
  
  .contact-us_image {
    height: 70px;
    margin-bottom: 500px;
    padding-left: 50px;
  }
  
  
  /* .contact-us_content {
    align-self: stretch;
  } */
  
  .contact-us_content-column {
    margin-bottom: 120px;
    gap: 28px;
    display: flex;
    flex-direction: column;
  }
  
  .contact-us_divider {
    height: 0.5px;
    background-color: #ffffff;
  }
  
  .contact-us_text-column {
    margin-bottom: 30px;
    gap: 14px;
  }
  
  .form-column_row--name {
    margin-left: 30px;
    gap: 24px;
    display: flex;
  
    @media only screen and (max-width: 1050px) {
      flex-direction: column;
      margin-left: 0px;
    }
  }

  .form-column_input--name {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 36px;
  }
  
  .company-profile {
    height: 170px;
    width: 16%;
    position: relative;
    align-content: center;
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
      height: auto;
    }
  }
  
  .company-profile_image {
    height: 170px;
    flex: 1;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .company-profile_title {
    position: absolute;
    bottom: 20.05px;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
  }

  .ui.button.round {
    border-radius: 24px;
  }
  
  .ui.button.size-xs {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }
  
  .ui.button.fill.light_blue_500 {
    background-color: #00adee;
    color: #ffffff;
  }
  
  .ui.button {
    text-align: center;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: #ffffff;
    letter-spacing: 0.14px;
    font-size: 14px;
    font-weight: 500;
    gap: 10px;
    align-self: flex-end;
    background-color: #00adee;
    min-width: 142px;
    border-radius: 24px;
  }

  .ui.input.square {
    border-radius: 0px;
  }
  
  .ui.input.size-xs {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
  }
  
  .ui.input {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: text;
    color: #505050;
    font-size: 12px;
    border-bottom: 1px solid #5050507f;
  }

  .ui.textarea.square {
    border-radius: 0px;
  }
  
  .ui.textarea.size-xs {
    height: 106px;
    font-size: 12px;
    padding: 10px;
  }
  
  .ui.textarea.taroutlinegray8007f.gray_800_7f {
    border-bottom: 1px solid #5050507f !important;
  }

  .ui.text.size-textxs {
    font-size: 14px;
    font-weight: 400;
  }
  
  .ui.text {
    color: #ffffff;
    font-family: Montserrat;
  }

  .ui.heading.size-texts {
    font-size: 16px;
    font-weight: 500;
  }
  
  .ui.heading.size-textmd {
    font-size: 18px;
    font-weight: 500;
  }
  
  .ui.heading.size-headingxs {
    font-size: 14px;
    font-weight: 600;
  }
  
  .ui.heading.size-headings {
    font-size: 16px;
    font-weight: 600;
  }
  
  .ui.heading.size-headingmd {
    font-size: 27px;
    font-weight: 600;
  
    @media only screen and (max-width: 1050px) {
      font-size: 25px;
    }
  
    @media only screen and (max-width: 550px) {
      font-size: 23px;
    }
  }
  
  .ui.heading.size-headinglg {
    font-size: 35px;
    font-weight: 700;
  
    @media only screen and (max-width: 1050px) {
      font-size: 33px;
    }
  
    @media only screen and (max-width: 550px) {
      font-size: 31px;
    }
  }
  
  .ui.heading {
    color: #ffffff;
    font-family: Montserrat;
  }

  .container-xs {
    max-width: 1170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    margin-bottom: 70px;
  }

  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/MontserratBold.ttf");
    font-family: "Montserrat";
    font-weight: 700;
  }
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/MontserratMedium.ttf");
    font-family: "Montserrat";
    font-weight: 500;
  }
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/MontserratRegular.ttf");
    font-family: "Montserrat";
    font-weight: 400;
  }
  @font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/MontserratSemiBold.ttf");
    font-family: "Montserrat";
    font-weight: 600;
  }



  h1 {
    font-family: 'Montserrat';
    font-weight: 700;
  }
  
  p {
    font-family: 'Montserrat';
    font-weight: 400;
  }


